.App {
  text-align: center;
  height: 100vh;
}

.c-button{
    background-color: #e762d7ff;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 20px;
}
.f-button{
    background-color: #b7e4f9ff;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}